doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title AdminLTE 3 | Dashboard
    //- Tell the browser to be responsive to screen width
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- Font Awesome
    link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css')
    //- Ionicons
    link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    //- Tempusdominus Bbootstrap 4
    link(rel='stylesheet' href='/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
    //- iCheck
    link(rel='stylesheet' href='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
    //- JQVMap
    link(rel='stylesheet' href='/plugins/jqvmap/jqvmap.min.css')
    //- Theme style
    link(rel='stylesheet' href='/dist/css/adminlte.min.css')
    //- overlayScrollbars
    link(rel='stylesheet' href='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
    //- Daterange picker
    link(rel='stylesheet' href='/plugins/daterangepicker/daterangepicker.css')
    //- summernote
    link(rel='stylesheet' href='/plugins/summernote/summernote-bs4.css')
    //- Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700' rel='stylesheet')
body.hold-transition.sidebar-mini
    .wrapper
        //- Navbar
        include navbar.jade
        //- /.navbar
        //- Main Sidebar Container
        include sidebar.jade
        //- Content Wrapper. Contains page content
        .content-wrapper
            block content
        //- Footer
        include footer.jade
        //- Control Sidebar
        aside.control-sidebar.control-sidebar-dark
        //- Control sidebar content goes here
        //- /.control-sidebar
    //- ./wrapper
    //- jQuery
    script(src='/plugins/jquery/jquery.min.js')
    //- jQuery UI 1.11.4
    script(src='/plugins/jquery-ui/jquery-ui.min.js')
    //- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
    script.
        $.widget.bridge('uibutton', $.ui.button)
    //- Bootstrap 4
    script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
    //- ChartJS
    script(src='/plugins/chart.js/Chart.min.js')
    //- Sparkline
    script(src='/plugins/sparklines/sparkline.js')
    //- JQVMap
    script(src='/plugins/jqvmap/jquery.vmap.min.js')
    script(src='/plugins/jqvmap/maps/jquery.vmap.usa.js')
    //- jQuery Knob Chart
    script(src='/plugins/jquery-knob/jquery.knob.min.js')
    //- daterangepicker
    script(src='/plugins/moment/moment.min.js')
    script(src='/plugins/daterangepicker/daterangepicker.js')
    //- Tempusdominus Bootstrap 4
    script(src='/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
    //- Summernote
    script(src='/plugins/summernote/summernote-bs4.min.js')
    //- overlayScrollbars
    script(src='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
    //- AdminLTE App
    script(src='/dist/js/adminlte.js')
    //- AdminLTE dashboard demo (This is only for demo purposes)
    script(src='/dist/js/pages/dashboard.js')
    //- AdminLTE for demo purposes
    script(src='/dist/js/demo.js')