doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title AdminLTE 3 | Dashboard
  //- Tell the browser to be responsive to screen width
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //- Font Awesome
  link(rel='stylesheet' href='plugins/fontawesome-free/css/all.min.css')
  //- Ionicons
  link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  //- Tempusdominus Bbootstrap 4
  link(rel='stylesheet' href='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
  //- iCheck
  link(rel='stylesheet' href='plugins/icheck-bootstrap/icheck-bootstrap.min.css')
  //- JQVMap
  link(rel='stylesheet' href='plugins/jqvmap/jqvmap.min.css')
  //- Theme style
  link(rel='stylesheet' href='dist/css/adminlte.min.css')
  //- overlayScrollbars
  link(rel='stylesheet' href='plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
  //- Daterange picker
  link(rel='stylesheet' href='plugins/daterangepicker/daterangepicker.css')
  //- summernote
  link(rel='stylesheet' href='plugins/summernote/summernote-bs4.css')
  //- Google Font: Source Sans Pro
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700' rel='stylesheet')
body
.wrapper
  //- Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    //- Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu' href='#' role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='index3.html') Home
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='#') Contact
    //- SEARCH FORM
    form.form-inline.ml-3
      .input-group.input-group-sm
        input.form-control.form-control-navbar(type='search' placeholder='Search' aria-label='Search')
        .input-group-append
          button.btn.btn-navbar(type='submit')
            i.fas.fa-search
    //- Right navbar links
    ul.navbar-nav.ml-auto
      //- Messages Dropdown Menu
      li.nav-item.dropdown
        a.nav-link(data-toggle='dropdown' href='#')
          i.far.fa-comments
          span.badge.badge-danger.navbar-badge 3
        .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
          a.dropdown-item(href='#')
            //- Message Start
            .media
              img.img-size-50.mr-3.img-circle(src='dist/img/user1-128x128.jpg' alt='User Avatar')
              .media-body
                h3.dropdown-item-title
                  | Brad Diesel
                  span.float-right.text-sm.text-danger
                    i.fas.fa-star
                p.text-sm Call me whenever you can...
                p.text-sm.text-muted
                  i.far.fa-clock.mr-1
                  |  4 Hours Ago
            //- Message End
          .dropdown-divider
          a.dropdown-item(href='#')
            //- Message Start
            .media
              img.img-size-50.img-circle.mr-3(src='dist/img/user8-128x128.jpg' alt='User Avatar')
              .media-body
                h3.dropdown-item-title
                  | John Pierce
                  span.float-right.text-sm.text-muted
                    i.fas.fa-star
                p.text-sm I got your message bro
                p.text-sm.text-muted
                  i.far.fa-clock.mr-1
                  |  4 Hours Ago
            //- Message End
          .dropdown-divider
          a.dropdown-item(href='#')
            //- Message Start
            .media
              img.img-size-50.img-circle.mr-3(src='dist/img/user3-128x128.jpg' alt='User Avatar')
              .media-body
                h3.dropdown-item-title
                  | Nora Silvester
                  span.float-right.text-sm.text-warning
                    i.fas.fa-star
                p.text-sm The subject goes here
                p.text-sm.text-muted
                  i.far.fa-clock.mr-1
                  |  4 Hours Ago
            //- Message End
          .dropdown-divider
          a.dropdown-item.dropdown-footer(href='#') See All Messages
      //- Notifications Dropdown Menu
      li.nav-item.dropdown
        a.nav-link(data-toggle='dropdown' href='#')
          i.far.fa-bell
          span.badge.badge-warning.navbar-badge 15
        .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
          span.dropdown-item.dropdown-header 15 Notifications
          .dropdown-divider
          a.dropdown-item(href='#')
            i.fas.fa-envelope.mr-2
            |  4 new messages
            span.float-right.text-muted.text-sm 3 mins
          .dropdown-divider
          a.dropdown-item(href='#')
            i.fas.fa-users.mr-2
            |  8 friend requests
            span.float-right.text-muted.text-sm 12 hours
          .dropdown-divider
          a.dropdown-item(href='#')
            i.fas.fa-file.mr-2
            |  3 new reports
            span.float-right.text-muted.text-sm 2 days
          .dropdown-divider
          a.dropdown-item.dropdown-footer(href='#') See All Notifications
      li.nav-item
        a.nav-link(data-widget='control-sidebar' data-slide='true' href='#' role='button')
          i.fas.fa-th-large
  //- /.navbar
  //- Main Sidebar Container
  aside.main-sidebar.sidebar-dark-primary.elevation-4
    //- Brand Logo
    a.brand-link(href='index3.html')
      img.brand-image.img-circle.elevation-3(src='dist/img/AdminLTELogo.png' alt='AdminLTE Logo' style='opacity: .8')
      span.brand-text.font-weight-light AdminLTE 3
    //- Sidebar
    .sidebar
      //- Sidebar user panel (optional)
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .image
          img.img-circle.elevation-2(src='dist/img/user2-160x160.jpg' alt='User Image')
        .info
          a.d-block(href='#') Alexander Pierce
      //- Sidebar Menu
      nav.mt-2
        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
          //
            Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library
          li.nav-item.has-treeview.menu-open
            a.nav-link.active(href='#')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link.active(href='./index.html')
                  i.far.fa-circle.nav-icon
                  p Dashboard v1
              li.nav-item
                a.nav-link(href='./index2.html')
                  i.far.fa-circle.nav-icon
                  p Dashboard v2
              li.nav-item
                a.nav-link(href='./index3.html')
                  i.far.fa-circle.nav-icon
                  p Dashboard v3
          li.nav-item
            a.nav-link(href='pages/widgets.html')
              i.nav-icon.fas.fa-th
              p
                | Widgets
                span.right.badge.badge-danger New
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.fas.fa-copy
              p
                | Layout Options
                i.fas.fa-angle-left.right
                span.badge.badge-info.right 6
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/layout/top-nav.html')
                  i.far.fa-circle.nav-icon
                  p Top Navigation
              li.nav-item
                a.nav-link(href='pages/layout/top-nav-sidebar.html')
                  i.far.fa-circle.nav-icon
                  p Top Navigation + Sidebar
              li.nav-item
                a.nav-link(href='pages/layout/boxed.html')
                  i.far.fa-circle.nav-icon
                  p Boxed
              li.nav-item
                a.nav-link(href='pages/layout/fixed-sidebar.html')
                  i.far.fa-circle.nav-icon
                  p Fixed Sidebar
              li.nav-item
                a.nav-link(href='pages/layout/fixed-topnav.html')
                  i.far.fa-circle.nav-icon
                  p Fixed Navbar
              li.nav-item
                a.nav-link(href='pages/layout/fixed-footer.html')
                  i.far.fa-circle.nav-icon
                  p Fixed Footer
              li.nav-item
                a.nav-link(href='pages/layout/collapsed-sidebar.html')
                  i.far.fa-circle.nav-icon
                  p Collapsed Sidebar
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.fas.fa-chart-pie
              p
                | Charts
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/charts/chartjs.html')
                  i.far.fa-circle.nav-icon
                  p ChartJS
              li.nav-item
                a.nav-link(href='pages/charts/flot.html')
                  i.far.fa-circle.nav-icon
                  p Flot
              li.nav-item
                a.nav-link(href='pages/charts/inline.html')
                  i.far.fa-circle.nav-icon
                  p Inline
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.fas.fa-tree
              p
                | UI Elements
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/UI/general.html')
                  i.far.fa-circle.nav-icon
                  p General
              li.nav-item
                a.nav-link(href='pages/UI/icons.html')
                  i.far.fa-circle.nav-icon
                  p Icons
              li.nav-item
                a.nav-link(href='pages/UI/buttons.html')
                  i.far.fa-circle.nav-icon
                  p Buttons
              li.nav-item
                a.nav-link(href='pages/UI/sliders.html')
                  i.far.fa-circle.nav-icon
                  p Sliders
              li.nav-item
                a.nav-link(href='pages/UI/modals.html')
                  i.far.fa-circle.nav-icon
                  p Modals &amp; Alerts
              li.nav-item
                a.nav-link(href='pages/UI/navbar.html')
                  i.far.fa-circle.nav-icon
                  p Navbar &amp; Tabs
              li.nav-item
                a.nav-link(href='pages/UI/timeline.html')
                  i.far.fa-circle.nav-icon
                  p Timeline
              li.nav-item
                a.nav-link(href='pages/UI/ribbons.html')
                  i.far.fa-circle.nav-icon
                  p Ribbons
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.fas.fa-edit
              p
                | Forms
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/forms/general.html')
                  i.far.fa-circle.nav-icon
                  p General Elements
              li.nav-item
                a.nav-link(href='pages/forms/advanced.html')
                  i.far.fa-circle.nav-icon
                  p Advanced Elements
              li.nav-item
                a.nav-link(href='pages/forms/editors.html')
                  i.far.fa-circle.nav-icon
                  p Editors
              li.nav-item
                a.nav-link(href='pages/forms/validation.html')
                  i.far.fa-circle.nav-icon
                  p Validation
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.fas.fa-table
              p
                | Tables
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/tables/simple.html')
                  i.far.fa-circle.nav-icon
                  p Simple Tables
              li.nav-item
                a.nav-link(href='pages/tables/data.html')
                  i.far.fa-circle.nav-icon
                  p DataTables
              li.nav-item
                a.nav-link(href='pages/tables/jsgrid.html')
                  i.far.fa-circle.nav-icon
                  p jsGrid
          li.nav-header EXAMPLES
          li.nav-item
            a.nav-link(href='pages/calendar.html')
              i.nav-icon.far.fa-calendar-alt
              p
                | Calendar
                span.badge.badge-info.right 2
          li.nav-item
            a.nav-link(href='pages/gallery.html')
              i.nav-icon.far.fa-image
              p
                | Gallery
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.far.fa-envelope
              p
                | Mailbox
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/mailbox/mailbox.html')
                  i.far.fa-circle.nav-icon
                  p Inbox
              li.nav-item
                a.nav-link(href='pages/mailbox/compose.html')
                  i.far.fa-circle.nav-icon
                  p Compose
              li.nav-item
                a.nav-link(href='pages/mailbox/read-mail.html')
                  i.far.fa-circle.nav-icon
                  p Read
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.fas.fa-book
              p
                | Pages
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/examples/invoice.html')
                  i.far.fa-circle.nav-icon
                  p Invoice
              li.nav-item
                a.nav-link(href='pages/examples/profile.html')
                  i.far.fa-circle.nav-icon
                  p Profile
              li.nav-item
                a.nav-link(href='pages/examples/e-commerce.html')
                  i.far.fa-circle.nav-icon
                  p E-commerce
              li.nav-item
                a.nav-link(href='pages/examples/projects.html')
                  i.far.fa-circle.nav-icon
                  p Projects
              li.nav-item
                a.nav-link(href='pages/examples/project-add.html')
                  i.far.fa-circle.nav-icon
                  p Project Add
              li.nav-item
                a.nav-link(href='pages/examples/project-edit.html')
                  i.far.fa-circle.nav-icon
                  p Project Edit
              li.nav-item
                a.nav-link(href='pages/examples/project-detail.html')
                  i.far.fa-circle.nav-icon
                  p Project Detail
              li.nav-item
                a.nav-link(href='pages/examples/contacts.html')
                  i.far.fa-circle.nav-icon
                  p Contacts
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.far.fa-plus-square
              p
                | Extras
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/examples/login.html')
                  i.far.fa-circle.nav-icon
                  p Login
              li.nav-item
                a.nav-link(href='pages/examples/register.html')
                  i.far.fa-circle.nav-icon
                  p Register
              li.nav-item
                a.nav-link(href='pages/examples/forgot-password.html')
                  i.far.fa-circle.nav-icon
                  p Forgot Password
              li.nav-item
                a.nav-link(href='pages/examples/recover-password.html')
                  i.far.fa-circle.nav-icon
                  p Recover Password
              li.nav-item
                a.nav-link(href='pages/examples/lockscreen.html')
                  i.far.fa-circle.nav-icon
                  p Lockscreen
              li.nav-item
                a.nav-link(href='pages/examples/legacy-user-menu.html')
                  i.far.fa-circle.nav-icon
                  p Legacy User Menu
              li.nav-item
                a.nav-link(href='pages/examples/language-menu.html')
                  i.far.fa-circle.nav-icon
                  p Language Menu
              li.nav-item
                a.nav-link(href='pages/examples/404.html')
                  i.far.fa-circle.nav-icon
                  p Error 404
              li.nav-item
                a.nav-link(href='pages/examples/500.html')
                  i.far.fa-circle.nav-icon
                  p Error 500
              li.nav-item
                a.nav-link(href='pages/examples/pace.html')
                  i.far.fa-circle.nav-icon
                  p Pace
              li.nav-item
                a.nav-link(href='pages/examples/blank.html')
                  i.far.fa-circle.nav-icon
                  p Blank Page
              li.nav-item
                a.nav-link(href='starter.html')
                  i.far.fa-circle.nav-icon
                  p Starter Page
          li.nav-header MISCELLANEOUS
          li.nav-item
            a.nav-link(href='https://adminlte.io/docs/3.0')
              i.nav-icon.fas.fa-file
              p Documentation
          li.nav-header MULTI LEVEL EXAMPLE
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-circle.nav-icon
              p Level 1
          li.nav-item.has-treeview
            a.nav-link(href='#')
              i.nav-icon.fas.fa-circle
              p
                | Level 1
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p Level 2
              li.nav-item.has-treeview
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p
                    | Level 2
                    i.right.fas.fa-angle-left
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p Level 2
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-circle.nav-icon
              p Level 1
          li.nav-header LABELS
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-danger
              p.text Important
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-warning
              p Warning
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-info
              p Informational
      //- /.sidebar-menu
    //- /.sidebar
  //- Content Wrapper. Contains page content
  .content-wrapper
    //- Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Dashboard
          //- /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Dashboard v1
          //- /.col
        //- /.row
      //- /.container-fluid
    //- /.content-header
    //- Main content
    section.content
      .container-fluid
        //- Small boxes (Stat box)
        .row
          .col-lg-3.col-6
            //- small box
            .small-box.bg-info
              .inner
                h3 150
                p New Orders
              .icon
                i.ion.ion-bag
              a.small-box-footer(href='#')
                | More info 
                i.fas.fa-arrow-circle-right
          //- ./col
          .col-lg-3.col-6
            //- small box
            .small-box.bg-success
              .inner
                h3
                  | 53
                  sup(style='font-size: 20px') %
                p Bounce Rate
              .icon
                i.ion.ion-stats-bars
              a.small-box-footer(href='#')
                | More info 
                i.fas.fa-arrow-circle-right
          //- ./col
          .col-lg-3.col-6
            //- small box
            .small-box.bg-warning
              .inner
                h3 44
                p User Registrations
              .icon
                i.ion.ion-person-add
              a.small-box-footer(href='#')
                | More info 
                i.fas.fa-arrow-circle-right
          //- ./col
          .col-lg-3.col-6
            //- small box
            .small-box.bg-danger
              .inner
                h3 65
                p Unique Visitors
              .icon
                i.ion.ion-pie-graph
              a.small-box-footer(href='#')
                | More info 
                i.fas.fa-arrow-circle-right
          //- ./col
        //- /.row
        //- Main row
        .row
          //- Left col
          section.col-lg-7.connectedSortable
            //- Custom tabs (Charts with tabs)
            .card
              .card-header
                h3.card-title
                  i.fas.fa-chart-pie.mr-1
                  |                   Sales
                .card-tools
                  ul.nav.nav-pills.ml-auto
                    li.nav-item
                      a.nav-link.active(href='#revenue-chart' data-toggle='tab') Area
                    li.nav-item
                      a.nav-link(href='#sales-chart' data-toggle='tab') Donut
              //- /.card-header
              .card-body
                .tab-content.p-0
                  //- Morris chart - Sales
                  #revenue-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
                    canvas#revenue-chart-canvas(height='300' style='height: 300px;')
                  #sales-chart.chart.tab-pane(style='position: relative; height: 300px;')
                    canvas#sales-chart-canvas(height='300' style='height: 300px;')
              //- /.card-body
            //- /.card
            //- DIRECT CHAT
            .card.direct-chat.direct-chat-primary
              .card-header
                h3.card-title Direct Chat
                .card-tools
                  span.badge.badge-primary(data-toggle='tooltip' title='3 New Messages') 3
                  button.btn.btn-tool(type='button' data-card-widget='collapse')
                    i.fas.fa-minus
                  button.btn.btn-tool(type='button' data-toggle='tooltip' title='Contacts' data-widget='chat-pane-toggle')
                    i.fas.fa-comments
                  button.btn.btn-tool(type='button' data-card-widget='remove')
                    i.fas.fa-times
              //- /.card-header
              .card-body
                //- Conversations are loaded here
                .direct-chat-messages
                  //- Message. Default to the left
                  .direct-chat-msg
                    .direct-chat-infos.clearfix
                      span.direct-chat-name.float-left Alexander Pierce
                      span.direct-chat-timestamp.float-right 23 Jan 2:00 pm
                    //- /.direct-chat-infos
                    img.direct-chat-img(src='dist/img/user1-128x128.jpg' alt='message user image')
                    //- /.direct-chat-img
                    .direct-chat-text
                      | Is this template really for free? That&apos;s unbelievable!
                    //- /.direct-chat-text
                  //- /.direct-chat-msg
                  //- Message to the right
                  .direct-chat-msg.right
                    .direct-chat-infos.clearfix
                      span.direct-chat-name.float-right Sarah Bullock
                      span.direct-chat-timestamp.float-left 23 Jan 2:05 pm
                    //- /.direct-chat-infos
                    img.direct-chat-img(src='dist/img/user3-128x128.jpg' alt='message user image')
                    //- /.direct-chat-img
                    .direct-chat-text
                      | You better believe it!
                    //- /.direct-chat-text
                  //- /.direct-chat-msg
                  //- Message. Default to the left
                  .direct-chat-msg
                    .direct-chat-infos.clearfix
                      span.direct-chat-name.float-left Alexander Pierce
                      span.direct-chat-timestamp.float-right 23 Jan 5:37 pm
                    //- /.direct-chat-infos
                    img.direct-chat-img(src='dist/img/user1-128x128.jpg' alt='message user image')
                    //- /.direct-chat-img
                    .direct-chat-text
                      | Working with AdminLTE on a great new app! Wanna join?
                    //- /.direct-chat-text
                  //- /.direct-chat-msg
                  //- Message to the right
                  .direct-chat-msg.right
                    .direct-chat-infos.clearfix
                      span.direct-chat-name.float-right Sarah Bullock
                      span.direct-chat-timestamp.float-left 23 Jan 6:10 pm
                    //- /.direct-chat-infos
                    img.direct-chat-img(src='dist/img/user3-128x128.jpg' alt='message user image')
                    //- /.direct-chat-img
                    .direct-chat-text
                      | I would love to.
                    //- /.direct-chat-text
                  //- /.direct-chat-msg
                //- /.direct-chat-messages
                //- Contacts are loaded here
                .direct-chat-contacts
                  ul.contacts-list
                    li
                      a(href='#')
                        img.contacts-list-img(src='dist/img/user1-128x128.jpg')
                        .contacts-list-info
                          span.contacts-list-name
                            | Count Dracula
                            small.contacts-list-date.float-right 2/28/2015
                          span.contacts-list-msg How have you been? I was...
                        //- /.contacts-list-info
                    //- End Contact Item
                    li
                      a(href='#')
                        img.contacts-list-img(src='dist/img/user7-128x128.jpg')
                        .contacts-list-info
                          span.contacts-list-name
                            | Sarah Doe
                            small.contacts-list-date.float-right 2/23/2015
                          span.contacts-list-msg I will be waiting for...
                        //- /.contacts-list-info
                    //- End Contact Item
                    li
                      a(href='#')
                        img.contacts-list-img(src='dist/img/user3-128x128.jpg')
                        .contacts-list-info
                          span.contacts-list-name
                            | Nadia Jolie
                            small.contacts-list-date.float-right 2/20/2015
                          span.contacts-list-msg I&apos;ll call you back at...
                        //- /.contacts-list-info
                    //- End Contact Item
                    li
                      a(href='#')
                        img.contacts-list-img(src='dist/img/user5-128x128.jpg')
                        .contacts-list-info
                          span.contacts-list-name
                            | Nora S. Vans
                            small.contacts-list-date.float-right 2/10/2015
                          span.contacts-list-msg Where is your new...
                        //- /.contacts-list-info
                    //- End Contact Item
                    li
                      a(href='#')
                        img.contacts-list-img(src='dist/img/user6-128x128.jpg')
                        .contacts-list-info
                          span.contacts-list-name
                            | John K.
                            small.contacts-list-date.float-right 1/27/2015
                          span.contacts-list-msg Can I take a look at...
                        //- /.contacts-list-info
                    //- End Contact Item
                    li
                      a(href='#')
                        img.contacts-list-img(src='dist/img/user8-128x128.jpg')
                        .contacts-list-info
                          span.contacts-list-name
                            | Kenneth M.
                            small.contacts-list-date.float-right 1/4/2015
                          span.contacts-list-msg Never mind I found...
                        //- /.contacts-list-info
                    //- End Contact Item
                  //- /.contacts-list
                //- /.direct-chat-pane
              //- /.card-body
              .card-footer
                form(action='#' method='post')
                  .input-group
                    input.form-control(type='text' name='message' placeholder='Type Message ...')
                    span.input-group-append
                      button.btn.btn-primary(type='button') Send
              //- /.card-footer
            //- /.direct-chat
            //- TO DO List
            .card
              .card-header
                h3.card-title
                  i.ion.ion-clipboard.mr-1
                  |                   To Do List
                .card-tools
                  ul.pagination.pagination-sm
                    li.page-item
                      a.page-link(href='#') &laquo;
                    li.page-item
                      a.page-link(href='#') 1
                    li.page-item
                      a.page-link(href='#') 2
                    li.page-item
                      a.page-link(href='#') 3
                    li.page-item
                      a.page-link(href='#') &raquo;
              //- /.card-header
              .card-body
                ul.todo-list(data-widget='todo-list')
                  li
                    //- drag handle
                    span.handle
                      i.fas.fa-ellipsis-v
                      i.fas.fa-ellipsis-v
                    //- checkbox
                    .icheck-primary.d-inline.ml-2
                      input#todoCheck1(type='checkbox' value='' name='todo1')
                      label(for='todoCheck1')
                    //- todo text
                    span.text Design a nice theme
                    //- Emphasis label
                    small.badge.badge-danger
                      i.far.fa-clock
                      |  2 mins
                    //- General tools such as edit or delete
                    .tools
                      i.fas.fa-edit
                      i.fas.fa-trash-o
                  li
                    span.handle
                      i.fas.fa-ellipsis-v
                      i.fas.fa-ellipsis-v
                    .icheck-primary.d-inline.ml-2
                      input#todoCheck2(type='checkbox' value='' name='todo2' checked='')
                      label(for='todoCheck2')
                    span.text Make the theme responsive
                    small.badge.badge-info
                      i.far.fa-clock
                      |  4 hours
                    .tools
                      i.fas.fa-edit
                      i.fas.fa-trash-o
                  li
                    span.handle
                      i.fas.fa-ellipsis-v
                      i.fas.fa-ellipsis-v
                    .icheck-primary.d-inline.ml-2
                      input#todoCheck3(type='checkbox' value='' name='todo3')
                      label(for='todoCheck3')
                    span.text Let theme shine like a star
                    small.badge.badge-warning
                      i.far.fa-clock
                      |  1 day
                    .tools
                      i.fas.fa-edit
                      i.fas.fa-trash-o
                  li
                    span.handle
                      i.fas.fa-ellipsis-v
                      i.fas.fa-ellipsis-v
                    .icheck-primary.d-inline.ml-2
                      input#todoCheck4(type='checkbox' value='' name='todo4')
                      label(for='todoCheck4')
                    span.text Let theme shine like a star
                    small.badge.badge-success
                      i.far.fa-clock
                      |  3 days
                    .tools
                      i.fas.fa-edit
                      i.fas.fa-trash-o
                  li
                    span.handle
                      i.fas.fa-ellipsis-v
                      i.fas.fa-ellipsis-v
                    .icheck-primary.d-inline.ml-2
                      input#todoCheck5(type='checkbox' value='' name='todo5')
                      label(for='todoCheck5')
                    span.text Check your messages and notifications
                    small.badge.badge-primary
                      i.far.fa-clock
                      |  1 week
                    .tools
                      i.fas.fa-edit
                      i.fas.fa-trash-o
                  li
                    span.handle
                      i.fas.fa-ellipsis-v
                      i.fas.fa-ellipsis-v
                    .icheck-primary.d-inline.ml-2
                      input#todoCheck6(type='checkbox' value='' name='todo6')
                      label(for='todoCheck6')
                    span.text Let theme shine like a star
                    small.badge.badge-secondary
                      i.far.fa-clock
                      |  1 month
                    .tools
                      i.fas.fa-edit
                      i.fas.fa-trash-o
              //- /.card-body
              .card-footer.clearfix
                button.btn.btn-info.float-right(type='button')
                  i.fas.fa-plus
                  |  Add item
            //- /.card
          //- /.Left col
          //- right col (We are only adding the ID to make the widgets sortable)
          section.col-lg-5.connectedSortable
            //- Map card
            .card.bg-gradient-primary
              .card-header.border-0
                h3.card-title
                  i.fas.fa-map-marker-alt.mr-1
                  |                   Visitors
                //- card tools
                .card-tools
                  button.btn.btn-primary.btn-sm.daterange(type='button' data-toggle='tooltip' title='Date range')
                    i.far.fa-calendar-alt
                  button.btn.btn-primary.btn-sm(type='button' data-card-widget='collapse' data-toggle='tooltip' title='Collapse')
                    i.fas.fa-minus
                //- /.card-tools
              .card-body
                #world-map(style='height: 250px; width: 100%;')
              //- /.card-body
              .card-footer.bg-transparent
                .row
                  .col-4.text-center
                    #sparkline-1
                    .text-white Visitors
                  //- ./col
                  .col-4.text-center
                    #sparkline-2
                    .text-white Online
                  //- ./col
                  .col-4.text-center
                    #sparkline-3
                    .text-white Sales
                  //- ./col
                //- /.row
            //- /.card
            //- solid sales graph
            .card.bg-gradient-info
              .card-header.border-0
                h3.card-title
                  i.fas.fa-th.mr-1
                  |                   Sales Graph
                .card-tools
                  button.btn.bg-info.btn-sm(type='button' data-card-widget='collapse')
                    i.fas.fa-minus
                  button.btn.bg-info.btn-sm(type='button' data-card-widget='remove')
                    i.fas.fa-times
              .card-body
                canvas#line-chart.chart(style='min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;')
              //- /.card-body
              .card-footer.bg-transparent
                .row
                  .col-4.text-center
                    input.knob(type='text' data-readonly='true' value='20' data-width='60' data-height='60' data-fgcolor='#39CCCC')
                    .text-white Mail-Orders
                  //- ./col
                  .col-4.text-center
                    input.knob(type='text' data-readonly='true' value='50' data-width='60' data-height='60' data-fgcolor='#39CCCC')
                    .text-white Online
                  //- ./col
                  .col-4.text-center
                    input.knob(type='text' data-readonly='true' value='30' data-width='60' data-height='60' data-fgcolor='#39CCCC')
                    .text-white In-Store
                  //- ./col
                //- /.row
              //- /.card-footer
            //- /.card
            //- Calendar
            .card.bg-gradient-success
              .card-header.border-0
                h3.card-title
                  i.far.fa-calendar-alt
                  |                   Calendar
                //- tools card
                .card-tools
                  //- button with a dropdown
                  .btn-group
                    button.btn.btn-success.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown' data-offset='-52')
                      i.fas.fa-bars
                    .dropdown-menu(role='menu')
                      a.dropdown-item(href='#') Add new event
                      a.dropdown-item(href='#') Clear events
                      .dropdown-divider
                      a.dropdown-item(href='#') View calendar
                  button.btn.btn-success.btn-sm(type='button' data-card-widget='collapse')
                    i.fas.fa-minus
                  button.btn.btn-success.btn-sm(type='button' data-card-widget='remove')
                    i.fas.fa-times
                //- /. tools
              //- /.card-header
              .card-body.pt-0
                //- The calendar
                #calendar(style='width: 100%')
              //- /.card-body
            //- /.card
          //- right col
        //- /.row (main row)
      //- /.container-fluid
    //- /.content
  //- /.content-wrapper
  footer.main-footer
    strong
      | Copyright &copy; 2014-2019 
      a(href='http://adminlte.io') AdminLTE.io
      | .
    |     All rights reserved.
    .float-right.d-none.d-sm-inline-block
      b Version
      |  3.0.5
  //- Control Sidebar
  aside.control-sidebar.control-sidebar-dark
    //- Control sidebar content goes here
  //- /.control-sidebar
//- ./wrapper
//- jQuery
script(src='plugins/jquery/jquery.min.js')
//- jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
//- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
//- Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
//- ChartJS
script(src='plugins/chart.js/Chart.min.js')
//- Sparkline
script(src='plugins/sparklines/sparkline.js')
//- JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
//- jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
//- daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
//- Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
//- Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
//- overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
//- AdminLTE App
script(src='dist/js/adminlte.js')
//- AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
//- AdminLTE for demo purposes
script(src='dist/js/demo.js')