extends ../../layouts/master
block content
    //- Content Header (Page header)
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1.m-0.text-dark Category
                //- /.col
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='#') Trang chủ
                        li.breadcrumb-item.active Category
    //- /.container-fluid
    //-Main content
    section.content
        .container-fluid
            .row
                //-left column
                .col-md-6
                    //-general form elements
                    .card.card-primary
                        .card-header
                            h3.card-title Quick Example
                        //-/.card-header
                        //-form start
                        form(role='form' , action="#{(category ? '/category/update' : '/category/store')}" method="post")
                            if (category)
                                input(type='hidden' name='_id' value='#{category._id}')
                            .card-body
                                .form-group
                                    label(for='exampleInputEmail1') Name
                                    input#exampleInputEmail1.form-control(type='text' name="title" placeholder='Enter email' value="#{category ? category.title : ''}")
                                .card-footer
                                    button.btn.btn-primary(type='submit') Submit