extends ../../layouts/master
block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1.m-0.text-dark Category
                //- /.col
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='#') Trang chủ
                        li.breadcrumb-item.active Category
                        //-  #{category}

    section.content
        .container-fluid
            .row
                .col-12
                    .card
                        .card-header
                            a.card-title(href="/category/create") Thêm mới
                            //- h3.card-title DataTable with minimal features &amp; hover style
                        .card-body
                            table#example2.table.table-bordered.table-hover
                                thead
                                    tr
                                        th id
                                        th title
                                        th action
                                tbody
                                    each item in category
                                        tr
                                            td #{item._id}
                                            td #{item.title}
                                            td
                                                ul.list-unstyled.list-inline
                                                    li.list-inline-item
                                                        a(href="#{'/category/'+ item._id +'/edit'}")  Chỉnh sửa
                                                    li.list-inline-item
                                                        a(href="#{'/category/'+ item._id +'/delete'}") Xóa